@model IEnumerable<MVCProjectInMasterDetailsPattern.Models.Trainee>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<div id="main-div" style="width:100%;">
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="container">
        <a href="@Url.Action("Create","Trainee")" id="Add" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i> Create New</a>
        <div id="div-record">
            @Html.Partial("_TraineePartial");
        </div>
    </div>

    <div class="modal fade" id="Add-Modal"style="width:100%;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"> Register New Trainee</h4>
                </div>
                <div class="divForAdd">


                </div>


            </div>

        </div>

    </div>

    <div class="modal fade" id="Edit-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"> Update Trainee Info</h4>
                </div>
                <div class="divForUpdate">


                </div>
                <div class="details">

                </div>
                <div class="delete">

                </div>
            </div>

        </div>

    </div>

</div>

